<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.png}">
        <title>PetClinic Veterinaria</title>
        <link rel="stylesheet" th:href="@{/resources/css/petclinic.css}"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    </head>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <style>
            *{
                font-family: 'Roboto', sans-serif !important;   
            }
            body{
                background-image: url('/resources/images/snoopy3.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                background-attachment: fixed;
                font-family: 'Roboto', sans-serif !important;
            }
            .MyContainer{
                width: 100%;
                max-width: 35%;
                margin:10% auto;
                background: rgba(0,0,0,0.4);
                padding: 50px 30px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                border-radius:5px;
            }
            .title-login{
                width:100%; 
                margin-top: 20px;
                color: snow;
                font-size: 40px;
                text-shadow: 0 0 10px black;
                letter-spacing: 1px;
                font-family: 'Roboto', sans-serif !important;   
                
            }
            .style_inputs{
                margin:auto; 
                margin-left: 0px; 
                border: 0px;
                text-align: center; 
                width: 100%;
                height: 30px;
                border-radius: 5px;
            }
           
            .style-alert{
                text-align: center; 
                color:white;
            }
            .color-new-owner{
                color: silver;
                text-align: center; 
                margin-top: 20px;              
            }
            .color-new-owner:hover{
                color: lightgray;
            }
            .text-white{
                color:#fff !important;
            }
            .size-md{
                font-size:1.1em;
            }
        </style>
        <div class="MyContainer">
            <div clas="text-center">
                <h1 class="title-login text-center" >Petclinic</h1>
            </div>
            <form th:action="@{/login}" method="post">
                <div class="form-group">                        
                    <input class="style_inputs" type="text" id="username" name="username" required="required" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <input class="style_inputs" type="password" id="password" name="password" required="required" placeholder="Contraseña"/>
                </div>
                 <div>
                    <button class="btn btn-primary btn-block" type="submit">Acceder</button>
                </div>
                
            </form>
                <a class="col-sm-offset-2 text-white size-md col-sm-8 color-new-owner" th:href="@{/owner_signup}">Soy propietario, deseo registrarme</a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div th:if="${param.error}" class="col-sm-offset-2 col-sm-8 style-alert">
                        Contraseña o usuario invalido.                            
                        <div th:text="${param.error}"></div>
                    </div>
                    <div th:if="${param.logout}" class="col-sm-offset-2 col-sm-8 style-alert" > 
                        Te has deslogeado exitosamente.
                    </div>
                    <div th:if="${param.disabled}" class="col-sm-offset-2 col-sm-8 style-alert" > 
                        Usuario no habilitado
                    </div>
                    <div th:if="${param.loggedin}" class="col-sm-offset-2 col-sm-8 style-alert"> 
                        Ya estas logeado
                    </div>
                    <div  th:if="${param.confirmation}" class="col-sm-offset-2  col-sm-8 style-alert" > 
                        Te has deslogeado porque hiciste cambios importantes
                    </div>
                </div>
            </div>
        </div>

