<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (template, menu)">

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.png}">

        <title>PetClinic :: a Spring Framework demonstration</title>

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel="stylesheet" th:href="@{/resources/css/petclinic.css}"/>
        
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    </head>

    <body>
        <style>
            body{
                font-family: 'Roboto', sans-serif !important;   
            }
            .navbar-aux{
                z-index:1;
                background-color: #0061AB;
            }
            a, span{
                /*color:#212121;*/
                color:#fff;
                letter-spacing: 1px;
            }
            .navbar-brand:hover{
                /*color:#E1F5FE;*/
                color:#07ABA0;
            }
            .fa-paw{
                margin-right: 3px;
            }
            .navbar-nav li a:hover{
                background: #006EC2 !important;
            }
        </style>
        <nav class="navbar-aux" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/owner/}" ><i class="fas fa-paw"></i>Petclinic<span></span></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                        <div style="display:flex;">
                            <i class="fas fa-bars" style="font-size:20px;"></i>
                            <p style="margin-left:20px;">Menu</p>
                        </div> 
                        <span class="sr-only"><os-p>Toggle navigation</os-p></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="main-navbar">
                    <ul class="nav navbar-nav navbar-right">

                        <li th:fragment="menuItem (path,active,title,glyph,text)" class="active" th:class="${active==menu ? 'active' : ''}">
                            <a th:href="@{__${path}__}" th:title="${title}">
                                <!--span th:class="'glyphicon  glyphicon-'+${glyph}" class="glyphicon glyphicon-home" aria-hidden="true"></span-->
                                <span th:text="${text}">Template</span>
                            </a>
                        </li>

                               
                        
                        <li th:replace="::menuItem ('/owner/my_profile','list','list','th-list','Mi perfil')">             
                        </li>
                        
                        <li th:replace="::menuItem ('/owner/pets','list','list','th-list','Mis mascotas')">             
                        </li>
                        
                        <li th:replace="::menuItem ('/owner/cita','list','list','th-list','Hacer una cita')">
                        </li>
                        <li><a style="color:#fff !important;" href="https://drive.google.com/file/d/1bhxtBohDEu4qeu2Uj7_IQZapodQJVPQD/view" target="_blank">Manual</a></li>

                        <li th:replace="::menuItem ('/logout','logout','users','th-list','Logout')">                                                        
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <th:block th:include="${template}"/>

        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    </body>

</html>
